<% include ../partials/header %>
<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= article.image %>">
                <div class="caption-full">
                    <h4><a><%=article.name%></a></h4>
                    <p><%= article.description %></p>
                    <p>
                        <em>Submitted By <%= article.author.username %></em>
                    </p>
                    <%if(currentUser && article.author.id.equals(currentUser._id)){ %>
                    <a class = "btn btn-warning" href="/news/<%=article._id%>/edit">Edit</a>
                    <form id ="delete-form" action="/news/<%= article._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/news/<%= article._id %>/comments/new">Add New
                        Comment</a>
                </div>
                <hr>
                <% article.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 days ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>